/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #0a0a0a;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.profile {
    margin-bottom: 30px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.artist-name {
    font-size: 2rem;
    margin: 0;
}

/* Form Styles */
.form-container {
    margin: 20px;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    margin: auto;
}

/* Section des boutons */
a {
    text-decoration: none; /* Supprime le soulignement */
    outline: none; /* Supprime le contour bleu de focus */
}

/* Section des boutons */
.button-section {
    display: flex;
    justify-content: space-between; /* Espacement entre les deux colonnes */
    gap: 20px; /* Espacement horizontal entre les colonnes */
    padding: 50px 20px; /* Espacement autour des colonnes */
    flex-wrap: wrap; /* Permet de ne pas forcer les éléments dans une seule ligne */
}

/* Première colonne alignée à droite */
.column:first-child {
    display: flex; /* Flexbox pour aligner les éléments verticalement */
    flex-direction: column; /* Colonne verticale */
    align-items: flex-end; /* Alignement des boutons à droite */
    gap: 10px; /* Espacement vertical de 10px entre les boutons */
}

/* Deuxième colonne alignée à gauche */
.column:last-child {
    display: flex; /* Flexbox pour aligner les éléments verticalement */
    flex-direction: column; /* Colonne verticale */
    align-items: flex-start; /* Alignement des boutons à gauche */
    gap: 10px; /* Espacement vertical de 10px entre les boutons */
}

/* Style des boutons */
button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: fit-content; /* S'adapte au texte */
    margin: 0; /* Pas de marge supplémentaire */
    box-sizing: border-box;
    padding-bottom: 10px; /* Ajout de padding bottom */
}

/* Au survol du bouton */
button:hover {
    background-color: #555;
}
rsor: not-allowed;
}



button .button-icon img {
    height: 100%;
    width: 20px;
    object-fit: contain;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .button-section {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .column {
        width: 100%;
        align-items: center;
    }

    button {
        width: auto;
    }
}
